html {
  background: url(mountain_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


font-family: 'Neuton', serif;

}

h1 {
  font-size: 5em;
  text-align: center;
  font-family: 'Special Elite', cursive;

}
body {

  font-size: 1em;
}

.form-item {
  display:inline-block;
}

li {
  border: 12px;
display:inline-block;
background-color: rgba(175, 243, 236, 0.23);
margin: 5px 5px;
padding: 15px;
width: auto;
min-width: 200px;
text-indent: 10px;
border-radius: 10px;
font-size: 1.2em;
text-align: center;
}

.page-buttons {
  margin: auto;
  padding: 5px;
  text-align:center;

}

#save {
  background: rgba(63, 191, 138, 0.26);
}

#delete-btn {
  background: rgba(216, 12, 80, 0.26);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
